.privew {
	margin-bottom: 20px;
}

.questions {
	background: #007fbe;
	color: #FFF;
	font-size: 22px;
	padding: 8px 30px;
	font-weight: 300;
	margin: 0 -30px 10px;
	position: relative;
}

.questions:after {
	background: url(../img/icon.png) no-repeat left 0;
	display: block;
	position: absolute;
	top: 100%;
	width: 9px;
	height: 7px;
	content: '.';
	left: 0;
	text-align: left;
	font-size: 0;
}

.questions:after {
	left: auto;
	right: 0;
	background-position: -10px 0;
}

.questions:before, .questions:after {
	background: black;
	display: block;
	position: absolute;
	top: 100%;
	width: 9px;
	height: 7px;
	content: '.';
	left: 0;
	text-align: left;
	font-size: 0;
}

.answerList {
	margin-bottom: 15px;
}

ol, ul {
	list-style: none;
}

.answerList li:first-child {
	border-top-width: 0;
}

.answerList li {
	padding: 3px 0;
}

.answerList label {
	display: block;
	padding: 6px;
	border-radius: 6px;
	border: solid 1px #dde7e8;
	font-weight: 400;
	font-size: 13px;
	cursor: pointer;
	font-family: Arial, sans-serif;
}

input[type=checkbox], input[type=radio] {
	margin: 4px 0 0;
	margin-top: 1px;
	line-height: normal;
}

.questionsRow {
	background: #dee3e6;
	margin: 0 -20px;
	padding: 10px 20px;
	border-radius: 0 0 3px 3px;
	height:50px;
}

.button, .greyButton {
	background-color: #f2f2f2;
	color: #888888;
	display: inline-block;
	border: solid 3px #cccccc;
	vertical-align: middle;
	text-shadow: 0 1px 0 #ffffff;
	line-height: 27px;
	min-width: 160px;
	text-align: center;
	padding: 5px 20px;
	text-decoration: none;
	border-radius: 0px;
	text-transform: capitalize;
}

.questionsRow span {
	float: right;
	display: inline-block;
	line-height: 30px;
	border: solid 1px #aeb9c0;
	padding: 0 10px;
	background: #FFF;
	color: #007fbe;
}

#divSubmit {
	text-align: center;
}

#buttonSubmit {
	font-size: x-large;
}

.form-control {
	resize: none;
}

#demo {
	
	margin-top: 7px;
}

.navbar{
	background-color: #dee3e6;
}

.questionsBox {
	display: block;
	border: solid 1px #e3e3e3;
	padding: 10px 20px 0px;
	box-shadow: inset 0 0 30px rgba(000, 000, 000, 0.1), inset 0 0 4px
		rgba(255, 255, 255, 1);
	border-radius: 3px;
	margin: 100px;
}

.examNameBox {
	display: block;
	border: solid 1px #e3e3e3;
	padding: 10px 20px 0px;
	box-shadow: inset 0 0 30px rgba(000, 000, 000, 0.1), inset 0 0 4px
		rgba(255, 255, 255, 1);
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 5%;
}

.examNameBox .row{
	padding-bottom: 8px;
}

//Exam creation style 

.insertQuestionsBox {
	/*display: block;*/
	border: solid 1px #e3e3e3;
	padding: 10px 20px 0px;
	box-shadow: inset 0 0 30px rgba(000, 000, 000, 0.1), inset 0 0 4px
		rgba(255, 255, 255, 1);
	border-radius: 3px;
	margin: 100px;
}

.insertQuestionsRow {
	background: #dee3e6;
	/*margin: 0 50px;*/
	/*padding: 10px 20px;*/
	border-radius: 0 0 3px 3px;
	height:200px;
	width:90%;
	
	/*display:block;*/
}

.insertQuestionsBox{
	border: solid 1px #e3e3e3;
	box-shadow: inset 0 0 30px rgba(000, 000, 000, 0.1), inset 0 0 4px
		rgba(255, 255, 255, 1);
	border-radius: 3px;
}

textarea#questionTitle {
	height:30%;
    width:40%; 
    display:block; 
    max-width:100%;
    padding-top:5px;
    line-height:1.5;
    border-radius:3px;
    border:1px solid #808080;
    font:13px Tahoma, cursive;
    transition:box-shadow 0.5s ease;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    font-smoothing:subpixel-antialiased;
    background:linear-gradient(#ffffff, #ffffff);
    background:-o-linear-gradient(#ffffff, #ffffff);
    background:-ms-linear-gradient(#ffffff, #ffffff);
    background:-moz-linear-gradient(#ffffff, #ffffff);
    background:-webkit-linear-gradient(#ffffff, #ffffff);
    resize: none;
    margin-left:auto;
    margin-right:auto;
}


input#examName {
	
    width:100%; 
    display:block; 
    max-width:100%;
    padding-top:5px;
    line-height:1.5;
    border-radius:3px;
    border:1px solid #808080;
    font:13px Tahoma, cursive;
    transition:box-shadow 0.5s ease;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    font-smoothing:subpixel-antialiased;
    background:linear-gradient(#ffffff, #ffffff);
    background:-o-linear-gradient(#ffffff, #ffffff);
    background:-ms-linear-gradient(#ffffff, #ffffff);
    background:-moz-linear-gradient(#ffffff, #ffffff);
    background:-webkit-linear-gradient(#ffffff, #ffffff);
    resize: none;
    margin-left:auto; 
    margin-right:auto; 
    margin-bottom:10%;
    margin-top:2%;
}



.btn-info:hover {
    color: #fff !important; 
    background-color: #007fbe !important;
    border-color: #007fbe !important;
}

.btn-info {
    color: #fff !important; 
    background-color: #007fbe !important;
    border-color: #007fbe !important;
}

#trash{
	padding-left:5px; 
	color: #FF3232;
}

#questionType{
	border: 1px solid;
	margin: 1% 0% 1% 0%;
}

button#done{
	margin: 1% 0% 1% 0%;
}

button#oneMoreQuestion{
	margin: 1% 0% 1% 0%;
}

button#multiple{
	margin: 1% 0% 1% 0%;
}

.answerInput{
	margin: 0.2% 0% 0.3% 0%;
}

#timer{
	visibility: hidden;
}
